.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rout
*~
*.~
\#*\#
tramp
.\#*
*.tex.bak
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

### Misc
*.eps
*.zip
*.gz
*.txt
